body {
  background: #0E562C;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.posts_container {
  margin: 50px;
}

.post_container {
  float: left;
  width: 100%;
}

.post_image {
  float: left;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-right: 40px;
  box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
}

.image_container {
  float: left;
  width: 220px;
  min-height: 100px;
}

.post_details {
  color: #cccccc;
  font-size: 50px;
}

.post_body {
  color: white;
  font-size: 110px;
  text-shadow: 5px 5px 5px black;
}